.login-Main{
  background-image: url(/assets/images/fondo.jpg);
  min-height: calc(100vh - 56px);
  background-position: center;
  background-size: cover;
  color: white;
}

.formLogin{
  padding: 30px;
  background-color: rgba(203, 203, 203, 0.858);
  color: black;
  border-radius: 10px;
}